# Requirements ---> Media
600 average views on tiktok for atomnetwork
3-4 posts per 2 weeks
150+ followers on tiktok
 
# Requirements ---> Media+
800+ average views on TikTok ( only atom network posts others don't count)
200+ followers on tiktok
5+ posts per 2 weeks
have atom network Ip in bio
if was media before need atleast 1 week being media before applying for media+